body { 
    margin: 0;
     }


header {
   background: grey;
     color: white;
     }

header h1 {
	margin: 0;
     }

nav ul{
	margin: 0;
    }

nav ul li {
	       display: inline-block;
	       list-style-type: none;
          padding: 5px 15px;
    }
